html, body {
    height: 100%;
    margin: 0;
    background-color: #000; /* Set the entire background to black */
    background-image: url('lvspidyblack.jpg');
    background-size: 100% 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    text-align: center; 
}

{
    position:fixed; top:0; left:0; url('oticon.jpg');

}


header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 2rem;
}

header a {
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

header a:hover {
    background-color: #0000;
    color: black;
}


.navbar {
    background-color: #000;
    overflow: hidden;
    padding: 0.5rem 0;
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #0000;
    color: black;
}



footer {
    background-color: #0000;
    color: #fff;
    margin-top: auto;
    padding: 1rem;
}
