html, body {
    height: 100%;
    margin: 0;
}

body    {
    display: flex;
    flex-direction:column;
    font-family: Arial, sans-serif;
    text-align: center; 
    background-color: #a6a6a6; 
}
   
header {
    background-color: #5A5A5A; 
    color: #fff; 
    padding: 2px;
    
}

footer {
    background-color: #212121;
    color: #fff;
    margin-top: auto;
}
